.inicio__container{
    margin: none;
}

.logo__lista{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    height: 50vh;
}

.bt__lista{
    display: block;
    margin-left: auto;
    margin-right: auto;
}