.produto__edit{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 8px;
}

.produto__campo{
    display: grid;
    grid-template-columns: 30% 1fr;
}

.produto__lable{
    font-size: 14px;
    font-weight: 600;
}

.bt__confirm{
    margin-left: 90%;
}